---
layout: container
title: Veranstaltungen
---

<h1 class="mt-5 mb-5">{{ page.title }}</h1>

{% comment %} --- Sorting --- {% endcomment %}
{% assign veranstaltungen = site.data.veranstaltungen | sort: 'tag' %}

{% for veranstaltung in veranstaltungen %}
  <div class="mb-3">
    <small>{{ veranstaltung.tag }}, {{ veranstaltung.start }}–{{ veranstaltung.ende }}</small>
    <h3>{{ veranstaltung.titel }}{% if veranstaltung.aufzeichnung == "true" %}&nbsp;<sup><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-record-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  </svg></sup>{% endif %}</h3>
    <p class="text-muted">{{ veranstaltung.sprecher }}</p>
    <p>{{ veranstaltung.teaser }}</p>
    <p><a href="{{ veranstaltung.url-zoom }}" target="_blank" role="button" class="btn btn-sm btn-outline-primary">An {{ veranstaltung.kategorie }} über Zoom-Meetings teilnehmen</a>
  </div>
{% endfor %}
