<footer class="d-print-none">
  <div class="container text-center text-md-left">
    <small>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <p class="mt-1">
            <img src="{{ site.url }}{{ site.logo }}" alt="{{ site.title }}" class="img-responsive" style="max-widt h:150px" role="image">
          </p>
          <p>&copy; 2014–{{ "now" | date: "%Y" }}</p>
          <p>
            <a href="https://app.netlify.com/sites/stg-strukturiert/deploys"><img src="https://api.netlify.com/api/v1/badges/7d509ec2-19cb-402b-ba94-516e4b7ecbde/deploy-status" alt="Netlify Status"></a>
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>Herausgeber</h4>
          <address>{{ site.publisher }}
          </address>
          <h4>Redaktion</h4>
          <p>{{ site.editorial }}</p>
        </div>
        <div class="col-md-3 col-sm-6" id="footer">
          <h4>Navigation</h4>
          {% for item in site.data.navigation %}
          <a href="{{ site.url }}{{ item.link }}">{{ item.name }}</a>
          <br>
          {% endfor %}
        </div>
        <div class="col-md-3 col-sm-6">
          <h4>Kontakt Abteilung Studium</h4>
          <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ site.phone }}
            <br>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>9:00–12:00 und 14:00–16:00&nbsp;Uhr
            <br>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            <br>
          </p>
          <!-- <p>Eine Informations­veranstaltung der
            <br>
            <a href="https://www.hm.edu" target="_blank"><img src="{{ site.url }}{{ site.logo_nav }}" class="img-responsive" alt="Hochschule München" title="Hochschule München" style="max-width:150px; margin: 0 auto">
            </a>
          </p> -->
        </div>
      </div>
    </small>
    <div class="text-center text-muted mt-3">
      <p><small>Folge uns auf</small></p>
      <p>{% include socialLinks.html %}</p>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row small text-center">
        <div class="col-md-4 text-md-left">
          <a href="{{ site.url_imprint }}" target="_blank">
            Impressum</a> | <a href="{{ site.url_pravacy_statement }}" target="_blank">
            Datenschutzerklärung</a>
        </div>
        <div class="col-md-4 text-center">
          Made with <span class="font-rot">♥</span>
        </div>
        <div class="col-md-4 text-md-right">
          <a href="mailto:{{ site.webmaster_email }}?subject=Website%20{{ site.title }}">
            Webmaster</a>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script> -->

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Parse, validate, manipulate, and display dates and times in JavaScript. -->
<!-- https://momentjs.com/ -->
<!-- https://t3n.de/news/momentjs-zeitberechnungen-mint-javascript-562592/ -->
<script src="{{ site.url }}/assets/js/moment.js" type="text/javascript"></script>
<script>
  moment.locale('de');
</script>

<!-- <script src="{{ site.url }}/assets/js/cardHoverShadow.js" type="text/javascript"></script> -->

<script src="{{ site.url }}/assets/js/openCloseAll.js" type="text/javascript"></script>
<script src="{{ site.url }}/assets/js/badgesData.js" type="text/javascript"></script>

<script src="{{ site.url }}/assets/js/saveStg.js" type="text/javascript"></script>

<!-- Filter mit MixItUp https://www.kunkalabs.com/mixitup/docs/get-started/ -->
<script src="{{ site.url }}/assets/js/mixitup.min.js" type="text/javascript"></script>

<!-- <script>
  var containerEl = document.querySelector('.mix-studienangebot');

  var mixer = mixitup(containerEl, {
    classNames: {
      modifierActive: ' active'
    },
    animation: {
        enable: false,
        // effects: 'fade',
        // easing: 'cubic-bezier(1, 0, 0, 1)',
        // duration: 400,
    },
    controls: {
        scope: 'global',
        live: false,
        toggleLogic: 'and',
    },
    load: {
      filter: 'all',
      sort: 'random',
      // sort: 'asc',
      // sort: 'desc',
    },
    callbacks: {
        onMixFail: function(state) {
             console.log('No items could be found matching the requested filter');
        },
      },
});
</script> -->

<script>
  // As we have no server-side application or routes, we will use
  // a URL "hash" for this demo, but we chould just as easily use
  // a URL route segment.

  // As we will use the target selector in several parts of the demo,
  // we will declare it as a variable here.

  var targetSelector = '.mix';

  /**
   * Reads a hash from the URL (if present), and converts it into a class
   * selector string. E.g "#green" -> ".green". Otherwise, defaults
   * to the targetSelector, equivalent to "all"
   *
   * @return {string}
   */

  function getSelectorFromHash() {
    var hash = window.location.hash.replace(/^#/g, '');

    var selector = hash ? '.' + hash : targetSelector;

    return selector;
  }

  /**
   * Updates the URL whenever the current filter changes.
   *
   * @param   {mixitup.State} state
   * @return  {void}
   */

  function setHash(state) {
    var selector = state.activeFilter.selector;
    var newHash = '#' + selector.replace(/^\./g, '');

    if (selector === targetSelector && window.location.hash) {
      // Equivalent to filter "all", remove the hash

      history.pushState(null, document.title, window.location.pathname); // or history.replaceState()
    } else if (newHash !== window.location.hash && selector !== targetSelector) {
      // Change the hash

      history.pushState(null, document.title, window.location.pathname + newHash); // or history.replaceState()
    }
  }

  // Instantiate and configure the mixer

  var mixer = mixitup('.mix-studienangebot', {
    selectors: {
      target: targetSelector
    },
    classNames: {
      modifierActive: ' active'
    },
    animation: {
      enable: false,
      // effects: 'fade',
      // easing: 'cubic-bezier(1, 0, 0, 1)',
      // duration: 400,
    },
    controls: {
      scope: 'global',
      live: false,
      toggleLogic: 'and',
    },
    callbacks: {
      onMixFail: function(state) {
        console.log('No items could be found matching the requested filter');
      },
    },
    load: {
      filter: getSelectorFromHash(), // Ensure that the mixer's initial filter matches the URL on startup
      // filter: 'all',
      // sort: 'random',
       sort: 'asc',
      // sort: 'desc',
    },
    callbacks: {
      onMixEnd: setHash // Call the setHash() method at the end of each operation
    },
  });

  // Add an "onhashchange" handler to keep the mixer in sync as the user goes
  // back and forward through their history.

  // NB: This may or may not be the desired behavior for your project. If you don't
  // want MixItUp operations to count as individual history items, simply use
  // 'replaceState()' instead of 'pushState()' within the 'setHash()' function above.
  // In which case this handler would no longer be neccessary.

  window.onhashchange = function() {
    var selector = getSelectorFromHash();

    if (selector === mixer.getState().activeFilter.selector) return; // no change

    mixer.filter(selector);
  };
</script>

<script>
  <!-- https://stackoverflow.com/questions/25917745/check-if-cookie-is-set-then-load-the-page-else-redirect-page -->
  <!-- https://www.w3schools.com/js/js_cookies.asp -->

  function checkCookieNEW() {
    var minus = "<a href='javascript:checkCookieNEW()' class='btn btn-outline-dark btn-sm taste-loeschen' style='cursor: pointer' onclick='document.cookie=\"stg={{ page.stg_kurz_abschluss_kurz }};expires=Wed, 1 Jan 2000 12:00:00 GMT; SameSite=Lax\"'><i class='fas fa-minus mr-1'></i>von Merkzettel löschen</a>";
    var plus = "<a href='javascript:checkCookieNEW()' class='btn btn-outline-dark btn-sm taste-merken' style='cursor: pointer' onclick='document.cookie=\"stg={{ page.stg_kurz_abschluss_kurz }};expires=Wed, 31 Dec 2030 12:00:00 GMT; SameSite=Lax\"'><i class='fas fa-plus mr-1'></i>Studiengang merken</a>";
  if (document.cookie == "stg={{ page.stg_kurz_abschluss_kurz }}") {
      // $('#taste').text("Studiengang merken");
      document.getElementById('taste').innerHTML = minus;
      console.log("Coockie STG vorhanden");
  // } else if (document.cookie.indexOf("expires") >= 0) {
  } else {
      // $('#taste').text("von Merkzettel löschen");
      document.getElementById('taste').innerHTML = plus;
      console.log("Coockie STG nicht vorhanden");
  }
};
</script>

  <script>
    //https://stackoverflow.com/questions/9456138/how-can-i-get-seconds-since-epoch-in-javascript
    var d = new Date();
    // var secondsSince1970 = Math.round(d.getTime() / 1000);
    var secondsSince1970 = Date.parse(d);
    console.log("Aktuelles Datum: " + d);
    console.log("Aktuelles Datum seit 1970: " + secondsSince1970);
    var bewerbungBisNr = "{{ page.bewerbung_bis | date: "%s" }}000";
    console.log("Bewerbung bis: {{ page.bewerbung_bis | date: "%e. %B %Y" }} | " + bewerbungBisNr);

    // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date
    // var dateControl = new Date(document.getElementById("formBewerbungBis").value);
    // var dateControlFormat = dateControl.getDate() + "." + dateControl.getMonth() + "." + dateControl.getFullYear();
    // var dateControlNr = Date.parse(document.getElementById("formBewerbungBis").value);
    // console.log("Datum aus Feld: " + dateControl);
    // console.log("Datum aus Feld seit 1970: " + dateControlNr);

  // Escape – https://www.the-art-of-web.com/javascript/escape/ > AddSlaches
  function checkDates() {

    // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date
    var dateControl = new Date(document.getElementById("formBewerbungBis").value);
    var dateControlFormat = dateControl.getDate() + "." + dateControl.getMonth() + "." + dateControl.getFullYear();
    var dateControlNr = Date.parse(document.getElementById("formBewerbungBis").value);
    console.log("Datum aus Feld: " + dateControl);
    console.log("Datum aus Feld seit 1970: " + dateControlNr);

    if (dateControlNr > secondsSince1970 ) {
      // console.log("Bewerbung möglich bis einschließlich {{ page.bewerbung_bis }}; {{ page.bewerbung_bis | date: '%s' }} > " + secondsSince1970 );
      console.log("Bewerbung möglich bis einschließlich " + dateControl + "; " + dateControlNr + " > " + secondsSince1970 );
      var bewerbungsDatum = "{{ page.bewerbung_bis | date: "%e. %B %Y" }}";
      var jetztBewerben = "<p>Bewerbung möglich bis " + moment(dateControl).format('dddd, DD. MMMM YYYY') + "</p><a class=\"btn btn-s uccess btn-outline-success btn-block btn-lg\" href=\"https://www.hm.edu/{% if page.stg_kurz_abschluss_kurz contains \"-B\" %}bachelor-bewerbung/{% elsif page.stg_kurz_abschluss_kurz contains \"-M\" %}master-bewerbung/{% else %}bewerbung/{% endif %}\" role=\"button\" target=\"_blank\">Jetzt für {{ page.fachrich | upcase }} ({{ page.grade_kurz | upcase }}) bewerben</a>";
      var jetztBewerbenSteckbrief = "<a class=\"btn btn-success btn-block btn-lg my-3 d-print-none\" href=\"https://www.hm.edu/{% if page.stg_kurz_abschluss_kurz contains \"-B\" %}bachelor-bewerbung/{% elsif page.stg_kurz_abschluss_kurz contains \"-M\" %}master-bewerbung/{% else %}bewerbung/{% endif %}\" role=\"button\" target=\"_blank\">Jetzt bewerben</a>";
      document.getElementById('bewerbenCallTo').innerHTML = jetztBewerben;
      document.getElementById('bewerbenSteckbriefCallTo').innerHTML = jetztBewerbenSteckbrief;
    }
    else if (dateControlNr < secondsSince1970 ) {
      console.log("Bewerbung nicht mehr möglich. Endete am {{ page.bewerbung_bis }}; {{ page.bewerbung_bis | date: '%s' }} < " + secondsSince1970 );
      var bewerbungsPhase = "15. November 2020";
      var jetztInformieren = "<p>Die neue Bewerbungsphaste startet am " + bewerbungsPhase + "</p><a class=\"btn btn-s uccess btn-outline-success btn-block btn-lg\" href=\"https://www.hm.edu/{% if page.stg_kurz_abschluss_kurz contains \"-B\" %}bewerbung-bachelor/{% elsif page.stg_kurz_abschluss_kurz contains \"-M\" %}master-bewerbung/{% else %}bewerbung/{% endif %}\" role=\"button\" target=\"_blank\">Informationen zur Bewerbung</a>";
      var jetztInformierenSteckbrief = "<a class=\"btn btn-success btn-block btn-lg my-3 d-print-none\" href=\"https://www.hm.edu/{% if page.stg_kurz_abschluss_kurz contains \"-B\" %}bachelor-bewerbung/{% elsif page.stg_kurz_abschluss_kurz contains \"-M\" %}master-bewerbung/{% else %}bewerbung/{% endif %}\" role=\"button\" target=\"_blank\">Information zur Bewerbung</a>";
      document.getElementById('bewerbenCallTo').innerHTML = jetztInformieren;
      document.getElementById('bewerbenSteckbriefCallTo').innerHTML = jetztInformierenSteckbrief;
    }
  };

    let formBewerbungBis = document.getElementById("formBewerbungBis");
    formBewerbungBis.addEventListener("change", checkDates);
    // formBewerbungBis.addEventListener ("change", test() {
      // checkDates();
      // console.log("Datum geändert");
    // });
  </script>


<!-- <script type="text/javascript">
  // $('.collapse').collapse()
</script> -->
