<!DOCTYPE html>
<html lang="de">
{% include head.html %}

<body onLoad="checkCookieNEW(); checkDates();">
  <!-- <body> -->
  {% include nav.html %}
  <main>
    <div class="container">

      <p class="float-right d-print-none"><a href="#" class="btn btn-link btn-sm showbadges" style="cursor: pointer;">Datenherkunft anzeigen</a> <a href="#" class="btn btn-link btn-sm hidebadges" style="cursor: pointer; display: none;">Datenherkunft
          verstecken</a>
        <!-- Beispiel für alle öffnen und schließen: https://www.bootply.com/peFUdnwOpZ# -->
      </p>


      <h1>{{ page.fachrich }} ({{ page.grade_kurz | replace: " ", "&nbsp;" }}){{ site.badge_p }}
        <br><small>{{ page.fachriche }}{{ site.badge_p }}</small>
      </h1>

      <div class="row my-4">
        <div class="col-lg-6" style="background-image: url(https://source.unsplash.com/random/1000?{{ page.tags | join: "+" }}); background-size: cover; background-position: center center; min-height:200px">
        </div>
        <div class="col-lg-6 bg-light py-3">
          <span id="taste" class="float-right d-print-none"></span>
          <!-- Alte Taste -->
          <!-- <p class="float-right d-print-none"><a href="#" class="btn btn-outline-dark btn-sm showSaveStg" onclick='document.cookie="stg={{ page.stg_kurz_abschluss_kurz }};expires=Wed, 18 Dec 2023 12:00:00 GMT; SameSite=Lax"' style="cursor: pointer;"><i class="fas fa-plus mr-1"></i>Studiengang merken OLD</a><a href="#" class="btn btn-outline-dark btn-sm hideSaveStg" onclick='document.cookie="stg={{ page.stg_kurz_abschluss_kurz }};expires=Wed, 18 Dec 2000 12:00:00 GMT; SameSite=Lax"' style="cursor: pointer; display: none;"><i class="fas fa-minus mr-1"></i>von Merkzettel löschen OLD</a></p> -->
          <!-- Beispiel für alle öffnen und schließen: https://www.bootply.com/peFUdnwOpZ# -->
          <h2>Steckbrief</h2>
          <div class="table-responsive">
            <table class="table table-sm mt-3 bg-transparent">
              <tbody>
                <tr>
                  <th></th>
                  <td>
                    {% assign stg_richtung = page.studien_richtung %}
                      {% case stg_richtung %}
                      {% when "Technik" %}{{ site.badge_technik }}
                      {% when "Soziales" %}{{ site.badge_soziales }}
                      {% when "Wirtschaft" %}{{ site.badge_wirtschaft }}
                      {% when "Gestaltung" %}{{ site.badge_gestaltung }}
                    {% endcase %}{{ site.badge_cms }}
                  </td>
                </tr>
                {% if page.studien_art != nil %}
                <tr class="col-md-6">
                  <th scope="row" class="text-uppercase">Art des Studiums</th>
                  <td>{{ page.studien_art}}{{ site.badge_cms }}</td>
                </tr>
                {% endif %}
                {% if page.dual == true %}
                <tr class="col-md-6">
                  <th scope="row" class="text-uppercase">Dual studierbar</th>
                  <td><i class="fas fa-check-circle text-success"></i></td>
                </tr>
                {% endif %}
                {% if page.studien_ort != nil %}
                <tr class="col-md-6">
                  <th scope="row" class="text-uppercase">Studienort</th>
                  <td><span class="d-block">{{ page.studien_ort | join: '</span><span class="d-block">'}}</span></td>
                </tr>
                {% endif %}
                <tr class="col-md-6">
                  <th scope="row" class="text-uppercase">Regelstudienzeit</th>
                  <td>
                    {% if page.regelstudien_zeit.voll_zeit != nil %}
                    <span class="d-block">{{ page.regelstudien_zeit.voll_zeit }} Semester Vollzeit</span>
                    {% endif %}
                    {% if page.regelstudien_zeit.teil_zeit != nil %}
                    <span class="d-block">{{ page.regelstudien_zeit.teil_zeit }} Semester Teilzeit</span>
                    {% endif %}
                  </td>
                </tr>
                {% if page.ects != nil %}
                <tr>
                  <th scope="row" class="text-uppercase">zu erreichende <abbr title="European Credit Transfer and Accumulation System">ECTS</abbr></th>
                  <td>{{ page.ects }}{{ site.badge_p }}</td>
                </tr>
                {% endif %}
                {% if page.studien_begin != nil %}
                <tr>
                  <th scope="row" class="text-uppercase">Studienbeginn</th>
                  <td>{{ page.studien_begin  | join: " und "}}{{ site.badge_cms }}</td>
                </tr>
                {% endif %}
                {% if page.hzb != nil %}
                <tr>
                  <th scope="row" class="text-uppercase">Zulassungs&shy;vorraussetzungen</th>
                  <td>
                    {% if page.hzb.size > 1%}
                    <ul style="padding-left:15px">
                      {% for item in page.hzb %}
                      <li>{{ item }}</li>
                      {% endfor %}
                    </ul>
                    {% else %}
                    {% for item in page.hzb %}
                    <span class="d-block">{{ item }}{{ site.badge_cms }}</span>
                    {% endfor %}
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
                <tr>
                  <th scope="row" class="text-uppercase">Zulassungs&shy;modus</th>
                  <td>
                    {% case page.zulassungs_beschraenkt %}
                      {% when 1 %}Zulassungsfrei
                      {% when 2 %}Zulassungsbeschränkt
                      {% when 3 %}Eignungsprüfung
                      {% when 4 %}Eignungsfeststellungsverfahren
                      {% when 5 %}Eignungsverfahren
                    {% endcase %}
                  </td>
                </tr>
                {% if page.zulassungs_beschraenkt == true %}
                <tr>
                  <th scope="row" class="text-uppercase">Zulassungs&shy;zahlen</th>
                  <td>
                    <a href="{{ site.zulassungszahlen_url }}" target="_blank">{{ site.zulassungszahlen_url_text }}</a>
                  </td>
                </tr>
                {% endif %}
                {% if page.eignungs_verfahren != nil %}
                <tr>
                  <th scope="row" class="text-uppercase">Eignungs&shy;verfahren</th>
                  <td>
                    {% for item in page.eignungs_verfahren %}
                    <span class="d-block">{{ item }}{{ site.badge_cms }}</span>
                    {% endfor %}
                  </td>
                </tr>
                {% endif %}
                {% if page.vor_praxis != nil %}
                <tr>
                  <th scope="row" class="text-uppercase">Vorpraxis (Vorpraktikum)</th>
                  <td>
                    {% for item in page.vor_praxis %}
                    <span class="d-block">{{ item }}{{ site.badge_cms }}</span>
                    {% endfor %}
                    <span class="d-block">Die Vorpraxis (Vorpraktikum) besteht aus insgesamt {{ page.vor_praxis_wochen }}&nbsp;Wochen.</span>
                    <span class="d-block"><a href="https://w3-mediapool.hm.edu/mediapool/media/dachmarke/dm_lokal/hauptabteilung2/bereichimma_1/pdfsinfoszurbewerbung/Hinweise_Vorpraktikum.pdf" target="_blank">Weitere Informationen zur Vorpraxis
                        (Vorpraktikum)</a> </span>
                  </td>
                </tr>
                {% endif %}
                {% if page.sprachen.haupt_sprache != nil %}
                <tr>
                  <th scope="row" class="text-uppercase">Hauptunterrichts&shy;sprache</th>
                  <td>{{ page.sprachen.haupt_sprache  | join: " und "}}{{ site.badge_cms }}
                    {% if page.sprachen.weitere_sprachen != nil %}
                    <p>Weitere Spachen:<br>{{ page.sprachen.weitere_sprachen | join: ", " }}{{ site.badge_cms }}</p>
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
                {% if page.praxis_semester != nil %}
                <tr class="col-md-6">
                  <th scope="row" class="text-uppercase">Praxissemester</th>
                  <td>
                    {% if page.praxis_semester_dauer != nil %}
                    Im {{ page.praxis_semester }} Semester muss ein {{ page.praxis_semester_dauer }}-wöchiges Praktikum absolviert werden.
                    {% else %}
                    Im {{ page.praxis_semester }} Semester muss ein Praktikum absolviert werden.
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
                {% if page.doppel_abschluss == true %}
                <tr class="col-md-6">
                  <th scope="row" class="text-uppercase">Doppelabschluss</th>
                  <td><i class="fas fa-check-circle text-success"></i>
                    <span class="d-block">{{ page.doppel_abschluss_partner_uni | join: '</span><span class="d-block">'}}</span>
                  </td>
                </tr>
                {% endif %}
                {% if page.auslands_semester == true %}
                <tr class="col-md-6">
                  <th scope="row" class="text-uppercase">Auslandssemester</th>
                  <td>
                    Auslandsemester möglich{% if page.auslands_semester_semester != nil %}; empfohlen im {{ page.auslands_semester_semester}}&nbsp;Semester
                    {% endif %}
                  </td>
                </tr>
                {% endif %}
                <tr>
                  <th scope="row" class="text-uppercase">Semesterbeiträge</th>
                  <td>
                    <span class="d-block">Grundbeitrag Studentenwerk 75,00{{ site.badge_cms }}&nbsp;Euro</span>
                    <span class="d-block">Solidarbeitrag Semesterticket 67,40{{ site.badge_cms }}&nbsp;Euro</span>
                  </td>
                </tr>
                {% if page.kosten != nil %}
                <tr>
                  <th scope="row" class="text-uppercase">Studiengebühren</th>
                  <!-- https://github.com/23maverick23/jekyll-humanize -->
                  <td>
                    {{ page.kosten }}{{ site.badge_cms }}&nbsp;Euro
                    {% if page.kosten_intervall != nil %}
                    {{ page.kosten_intervall }}
                    {% endif %}
                    <br>
                    <a href="{{ page.url_stg }}" target="_blank">Weitere Informationen bzw. Zahlungsmodalitäten</a>
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <!-- <div>
            <form>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Bewerbungsende</label>
                <div class="col-sm-8">
                  <input type="date" class="form-control" id="fromBewerbungBis" value="{{ page.bewerbung_bis | date:"%Y-%m-%d"}}" onLoad="checkDates();">
                </div>
              </div>
            </form>
          </div> -->
          <div id="bewerbenSteckbriefCallTo"></div>
          <!-- <a class="btn btn-success btn-out line-success btn-block btn-lg my-3 d-print-none" href="https://www3.primuss.de/cgi-bin/bew_anmeldung/index.pl?FH=fhm" role="button" target="_blank">Jetzt bewerben</a> -->
        </div>
      </div>

      <div class="row my-4">
        {% if page.studien_schwerpunkte == nil or page.studien_richtungen == nil %}
        <div class="col-md-12 my-2">
          <h2>Kurzbeschreibung{{ site.badge_cms }}</h2>
          {{ page.teaser | markdownify }}
        </div>
        {% else %}
        <div class="col-md-6 my-2">
          <h2>Kurzbeschreibung{{ site.badge_cms }}</h2>
          {{ page.teaser | markdownify }}
        </div>
        <div class="col-md-6 my-2">
          {% if page.studien_schwerpunkte != nil %}
          <h2>Studienschwerpunkte{{ site.badge_p }}</h2>
          <ul>
            {% assign items = page.studien_schwerpunkte | sort %}
            {% for item in items %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          <p>Sie müssen im laufe Ihres Studiums {{ page.studien_schwerpunkte_ablegen }} Studienschwerpunkte aus den angebotenen {{ page.studien_schwerpunkte.size }} Studienschwerpunkten belegen.</p>
          {% endif %}
          {% if page.studien_richtungen != nil %}
          <h2>Studienrichtungen{{ site.badge_p }}</h2>
          <ul>
            {% assign items = page.studien_richtungen | sort %}
            {% for item in items %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endif %}
      </div>

      <p><a href="#" class="btn btn-default btn-sm openall" style="cursor: pointer;">alle aufklappen</a> <a href="#" class="btn btn-default btn-sm closeall" style="cursor: pointer; display: none;">alle schließen</a>
        <!-- Beispiel für alle öffnen und schließen: https://www.bootply.com/peFUdnwOpZ# -->
      </p>

      <div class="accordion" id="accordion_stg_informationen">
        {% if page.studien_ziel != nil %}
        <div class="card">
          <div class="card-header" id="heading_studien_ziel">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_studien_ziel" aria-expanded="true" aria-controls="collapse_studien_ziel">
                Studienziel{{ site.badge_cms }}
              </button>
            </h2>
          </div>
          <div id="collapse_studien_ziel" class="collapse" aria-labelledby="heading_studien_ziel" data-parent="#accordion_stg_informationen">
            <div class="card-body">
              {{ page.studien_ziel | markdownify }}
            </div>
          </div>
        </div>
        {% endif %}
        {% if page.studien_verlauf != nil or page.faecherkatalog != nil %}
        <div class="card">
          <div class="card-header" id="heading_studien_verlauf">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_studien_verlauf" aria-expanded="true" aria-controls="collapse_studien_verlauf">
                Studienverlauf{{ site.badge_cms }}
              </button>
            </h2>
          </div>
          <div id="collapse_studien_verlauf" class="collapse" aria-labelledby="heading_studien_verlauf" data-parent="#accordion_stg_informationen">
            <div class="card-body">

              {% if page.praxis_semester != nil %}
              <h4>Praxissemester</h4>
              <p>
                {% if page.praxis_semester != nil %}
                Im {{ page.praxis_semester }} Semester muss ein
                {% if page.praxis_semester_dauer != nil %}
                {{ page.praxis_semester_dauer }}-wöchiges
                {% endif %}
                Praktikum absolviert werden.
                {% endif %}
              </p>
              {% endif %}

              {{ page.studien_verlauf | markdownify }}
              <h4>Modul-/Fächerkatalog{{ site.badge_cms}}</h4>
              {% if page.studien_form contains "TZ" %}
              <div class="alert alert-warning" role="alert">
                <p>
                  <span class="d-block font-weight-bolder">Information zum Studium in Teilzeit</span>
                  Der Modul-/Fächerkatalog bildet immer ein Vollzeitstudium ab. Sollten Sie den Studiengang in Teilzeit studieren, können Sie die Fächer auf i.&nbsp;d.&nbsp;R. {{ page.regelstudien_zeit.teil_zeit }}&nbsp;Semester verteilen.
                </p>
              </div>
              {% endif %}
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Modul/Fach<span class="float-right"><small>Semester</small></span></th>
                      {% for i in (1..page.regelstudien_zeit.faecherkatalog) %}
                      <th scope="col" {% if i == page.praxis_semester %} class="table-warning text-center" {% elsif i == page.auslands_semester_semester %} class="table-info text-center" {% else %}class="text-center" {% endif %}>
                        {% if i == page.praxis_semester %} <small>Praxissemester</small><br> {% endif %}{% if i == page.auslands_semester_semester %} <small>empfohlenes Auslandssemester</small><br> {% endif %}{{ i }}
                      </th>
                      {% endfor %}
                    </tr>
                  </thead>
                  {% assign items = page.faecherkatalog %}
                  <tbody>
                    {% for item in items %}
                    <tr>
                      {% if item[1] == nil and item[2] == nil and item[3] == nil %}
                      <th scope="row" colspan="{{ page.regelstudien_zeit.faecherkatalog | plus: 1 }}">{{ item[0] }}</th>
                      {% else %}
                      <td scope="row">{{ item[0] }} <small>({{ item[3] }}&nbsp;ECTS)</small></td>
                      {% for i in (1..page.regelstudien_zeit.faecherkatalog) %}
                      <td align="center" {% if i == page.praxis_semester %} class="table-warning text-center" {% elsif i == page.auslands_semester_semester %} class="table-info text-center" {% else %}class="text-center" {% endif %}>
                        {% if item[1] == i and item[2] > 0 %}
                        {{ item[2] }}&nbsp;SWS
                        {% elsif item[1] == i and item[2] == 0 or item[2] == nil %}
                        &#10003;
                        {% endif %}
                      </td>
                      {% endfor %}
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                  <!-- <tfoot>
                    <tr>
                      <th><span class="float-right"><small>Summe Semesterwochenstunden</small></span></th>
                      {% for i in (1..page.regelstudien_zeit.faecherkatalog) %}
                      <th class="text-center" {% if i == page.praxis_semester %} class="table-info" {% endif %}>
                        ##
                      </th>
                      {% endfor %}
                    </tr>
                  </tfoot> -->
                </table>
              </div>
            </div>
          </div>
        </div>
        {% endif %}


        <div class="card">
          <div class="card-header" id="heading_gebuehren">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_gebuehren" aria-expanded="true" aria-controls="collapse_gebuehren">
                Gebühren{{ site.badge_cms }}
              </button>
            </h2>
          </div>
          <div id="collapse_gebuehren" class="collapse" aria-labelledby="heading_gebuehren" data-parent="#accordion_stg_informationen">
            <div class="card-body">
              <div class="">
                {% if page.kosten != nil %}
                <h4>Studiengebühren</h4>
                {% if page.kosten_info != nil %}
                {{ page.kosten_info | markdownify }}
                {% else %}
                {{ page.kosten }}{{ site.badge_cms }}&nbsp;Euro
                {% if page.kosten_intervall != nil %}
                {{ page.kosten_intervall }}
                {% endif %}
                {% endif %}
                <p><a href="{{ page.url_stg }}" target="_blank">Weitere Informationen bzw. Zahlungsmodalitäten</a></p>
                {% endif %}
                <h4>Semesterbeiträge (allgemein)</h4>
                <span class="d-block">Grundbeitrag Studentenwerk 75,00{{ site.badge_cms }}&nbsp;Euro</span>
                <span class="d-block">Solidarbeitrag Semesterticket 67,40{{ site.badge_cms }}&nbsp;Euro</span>
              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-header" id="heading_bewerbung">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_bewerbung" aria-expanded="true" aria-controls="collapse_bewerbung">
                Bewerbungsvorraussetzungen und -modalitäten{{ site.badge_cms }}
              </button>
            </h2>
          </div>
          <div id="collapse_bewerbung" class="collapse" aria-labelledby="heading_bewerbung" data-parent="#accordion_stg_informationen">
            <div class="card-body">
              <div class="">
                {% if page.hzb_info != nil %}
                {{ page.hzb_info | markdownify }}
                {% else %}
                <h4>Zulassungs&shy;vorraussetzungen</h4>
                {% if page.hzb.size > 1%}
                <ul style="padding-left:15px">
                  {% for item in page.hzb %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                {% else %}
                {% for item in page.hzb %}
                <span class="d-block">{{ item }}{{ site.badge_cms }}</span>
                {% endfor %}
                {% endif %}
                {% endif %}
                <h4>Wichtige Termine</h4>
                <p>
                  {% if page.stg_kurz_abschluss_kurz == "AR-B" %}
                  {{ site.begin_arb }}
                  {% elsif page.stg_kurz_abschluss_kurz == "DS-B"%}
                  {{ site.begin_dsb }}
                  {% else %}
                  {% assign begin = page.studien_begin | join: " " %}
                  {% if begin == "Sommersemester" %}
                  {{ site.begin_sose }}
                  {% elsif begin == "Wintersemester" %}
                  {{ site.begin_wise }}
                  {% else  %}
                  {{ site.begin_sose_wise }}
                  {% endif %}
                  {% endif %}
                  <br>
                  Die Bewerbung erfolgt ausschließlich online unter <a href="https://www.hm.edu/{{ page.abschluss | downcase }}-bewerbung" target="
                  ">www.hm.edu/{{ page.abschluss | downcase }}-bewerbung</a>
                  {% if page.stg_kurz_abschluss_kurz == "DS-B" %}
                  {{ site.begin_arb_zusatz }}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading_interesse">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_interesse" aria-expanded="false" aria-controls="collapse_interesse">
                Zu wem passt der Studiengang?{{ site.badge_cms }}
              </button>
            </h2>
          </div>
          <div id="collapse_interesse" class="collapse" aria-labelledby="heading_interesse" data-parent="#accordion_stg_informationen">
            <div class="card-body">
              <div class="row mb-4">
                <div class="col-md-6 my-2">
                  <h5>Wer diesen Studiengang studieren möchte,</h5>
                  <p><strong>… bringt mit:</strong><br>
                    {{ page.interessen.bringt_mit | join: ", " }}
                  </p>
                  <p><strong>… hat Spaß an:</strong><br>
                    {{ page.interessen.hat_spass | join: ", " }}
                  </p>
                  <p><strong>… kämpft sich durch:</strong><br>
                    {{ page.interessen.kaempft | join: ", " }}
                  </p>
                </div>
                <div class="col-md-6 my-2">
                  <h5>Wer einen Abschluss in diesem Studiengang hat, arbeitet häufig</h5>
                  <ul>
                    {% for item in page.berufs_perpektiven %}
                    <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading_kontakt">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_kontakt" aria-expanded="false" aria-controls="collapse_kontakt">
                Kontakt{{ site.badge_p }}
              </button>
            </h2>
          </div>
          <div id="collapse_kontakt" class="collapse" aria-labelledby="heading_kontakt" data-parent="#accordion_stg_informationen">
            <div class="card-body">
              <div class="row">
                <!-- Fachstudienberater -->
                {% if page.ansprechpartner.fachstudienberater != nil %}
                <div id="fachstudienberaterinnen" class="col-md-6">
                  <h3>FachstudienberaterInnen{{ site.badge_cms }}</h3>
                  {% for item in page.ansprechpartner.fachstudienberater %}
                  <div class="row">
                    <div class="col-lg-4 col-xl-3">
                      <img src="{{ item.bild | default: "https://w3-mediapool.hm.edu/mediapool/media/dachmarke/dm_transfer/importueberarbeitet/personen_16/Silhouette_Neutral_ContactBild.png" }}" class="rounded" alt="Kontaktbild von {{ item.name }}">
                    </div>
                    <div class="col-lg-8 col-xl-9">
                      <span class="d-block lead mb-3">{{ item.name }}</span>
                      <span class="d-block">Raum: {{ item.raum }}</span>
                      <span class="d-block">Tel: {{ item.tel }}</span>
                      <span class="d-block">E-Mail: <a href="mailto:{{ item.email }}">{{ item.email }}</a></span>
                      {% if item.url != nil %}
                      <span class="d-block">Profil: <a href="{{ item.url }}" target="_blank">Profil aufrufen</a></span>
                      {% endif %}
                    </div>
                  </div>
                  <p class="mb-4">
                    {% if item.zeiten != nil %}
                    <span class="d-block lead mt-2">Sprechzeiten</span>
                    {% if item.zeiten == "nine" %}
                    Sprechtzeiten über <a href="https://nine.hm.edu" target="_blank">NINE</a> buchen.
                    {% else %}
                    {% for item in item.zeiten %}
                    <span class="d-block">{{ item[0] | append: "&nbsp;" }}<span class="float-right">{{ item[1] | replace: " ", "&nbsp;" }}</span></span>
                    {% if item[2] != nil %}
                    <span class="d-block font-italic mb-2">{{ item[2] }}</span>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                  </p>
                  {% endfor %}
                </div>
                {% endif %}
                <!-- Zertifikatsleitung -->
                {% if page.ansprechpartner.zertifikatsleitung != nil %}
                <div id="zertifikatsleitung" class="col-md-6">
                  <h3>Zertifikatsleitung{{ site.badge_cms }}</h3>
                  {% for item in page.ansprechpartner.zertifikatsleitung %}
                  <div class="row">
                    <div class="col-lg-4 col-xl-3">
                      <img src="{{ item.bild | default: "https://w3-mediapool.hm.edu/mediapool/media/dachmarke/dm_transfer/importueberarbeitet/personen_16/Silhouette_Neutral_ContactBild.png" }}" class="rounded" alt="Kontaktbild von {{ item.name }}">
                    </div>
                    <div class="col-lg-8 col-xl-9">
                      <span class="d-block lead mb-3">{{ item.name }}</span>
                      <span class="d-block">Raum: {{ item.raum }}</span>
                      <span class="d-block">Tel: {{ item.tel }}</span>
                      <span class="d-block">E-Mail: <a href="mailto:{{ item.email }}">{{ item.email }}</a></span>
                      {% if item.url != nil %}
                      <span class="d-block">Profil: <a href="{{ item.url }}" target="_blank">Profil aufrufen</a></span>
                      {% endif %}
                    </div>
                  </div>
                  <p class="mb-4">
                    {% if item.zeiten != nil %}
                    <span class="d-block lead mt-2">Sprechzeiten</span>
                    {% if item.zeiten == "nine" %}
                    Sprechtzeiten über <a href="https://nine.hm.edu" target="_blank">NINE</a> buchen.
                    {% else %}
                    {% for item in item.zeiten %}
                    <span class="d-block">{{ item[0] | append: "&nbsp;" }}<span class="float-right">{{ item[1] | replace: " ", "&nbsp;" }}</span></span>
                    {% if item[2] != nil %}
                    <span class="d-block font-italic mb-2">{{ item[2] }}</span>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                  </p>
                  {% endfor %}
                </div>
                {% endif %}
                <!-- Studiengangsrefetenten -->
                {% if page.ansprechpartner.studiengangsreferent != nil %}
                <div id="studiengangsrefetentinnen" class="col-md-6">
                  <h3>StudiengangsreferentInnen{{ site.badge_cms }}</h3>
                  {% for item in page.ansprechpartner.studiengangsreferent %}
                  <div class="row">
                    <div class="col-lg-4 col-xl-3">
                      <img src="{{ item.bild | default: "https://w3-mediapool.hm.edu/mediapool/media/dachmarke/dm_transfer/importueberarbeitet/personen_16/Silhouette_Neutral_ContactBild.png" }}" class="rounded" alt="Kontaktbild von {{ item.name }}">
                    </div>
                    <div class="col-lg-8 col-xl-9">
                      <span class="d-block lead mb-3">{{ item.name }}</span>
                      <span class="d-block">Raum: {{ item.raum }}</span>
                      <span class="d-block">Tel: {{ item.tel }}</span>
                      <span class="d-block">E-Mail: <a href="mailto:{{ item.email }}">{{ item.email }}</a></span>
                      {% if item.url != nil %}
                      <span class="d-block">Profil: <a href="{{ item.url }}" target="_blank">Profil aufrufen</a></span>
                      {% endif %}
                    </div>
                  </div>
                  <p class="mb-4">
                    {% if item.infos != nil %}
                    <span class="d-block">{{ item.infos }}</span>
                    {% endif %}
                    {% if item.zeiten != nil %}
                    <span class="d-block lead mt-2">Sprechzeiten</span>
                    {% if item.zeiten == "nine" %}
                    Sprechtzeiten über <a href="https://nine.hm.edu" target="_blank">NINE</a> buchen.
                    {% else %}
                    {% for item in item.zeiten %}
                    <span class="d-block">{{ item[0] | append: "&nbsp;" }}<span class="float-right">{{ item[1] | replace: " ", "&nbsp;" }}</span></span>
                    {% if item[2] != nil %}
                    <span class="d-block font-italic mb-2">{{ item[2] }}</span>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                  </p>
                  {% endfor %}
                </div>
                {% endif %}
                <!-- Programmassistenz -->
                {% if page.ansprechpartner.programmassistenz != nil %}
                <div id="programmassistenz" class="col-md-6">
                  <h3>Programmassistzen{{ site.badge_cms }}</h3>
                  {% for item in page.ansprechpartner.programmassistenz %}
                  <div class="row">
                    <div class="col-lg-4 col-xl-3">
                      <img src="{{ item.bild | default: "https://w3-mediapool.hm.edu/mediapool/media/dachmarke/dm_transfer/importueberarbeitet/personen_16/Silhouette_Neutral_ContactBild.png" }}" class="rounded" alt="Kontaktbild von {{ item.name }}">
                    </div>
                    <div class="col-lg-8 col-xl-9">
                      <span class="d-block lead mb-3">{{ item.name }}</span>
                      <span class="d-block">Raum: {{ item.raum }}</span>
                      <span class="d-block">Tel: {{ item.tel }}</span>
                      <span class="d-block">E-Mail: <a href="mailto:{{ item.email }}">{{ item.email }}</a></span>
                      {% if item.url != nil %}
                      <span class="d-block">Profil: <a href="{{ item.url }}" target="_blank">Profil aufrufen</a></span>
                      {% endif %}
                    </div>
                  </div>
                  <p class="mb-4">
                    {% if item.infos != nil %}
                    <span class="d-block">{{ item.infos }}</span>
                    {% endif %}
                    {% if item.zeiten != nil %}
                    <span class="d-block lead mt-2">Sprechzeiten</span>
                    {% if item.zeiten == "nine" %}
                    Sprechtzeiten über <a href="https://nine.hm.edu" target="_blank">NINE</a> buchen.
                    {% else %}
                    {% for item in item.zeiten %}
                    <span class="d-block">{{ item[0] | append: "&nbsp;" }}<span class="float-right">{{ item[1] | replace: " ", "&nbsp;" }}</span></span>
                    {% if item[2] != nil %}
                    <span class="d-block font-italic mb-2">{{ item[2] }}</span>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                  </p>
                  {% endfor %}
                </div>
                {% endif %}
                <!-- Sekretariat -->
                {% if page.ansprechpartner.sekretariat != nil %}
                <div id="sekretariat" class="col-md-6">
                  <h3>Sekretariat{{ site.badge_cms }}</h3>
                  {% for item in page.ansprechpartner.sekretariat %}
                  <div class="row">
                    <div class="col-lg-4 col-xl-3">
                      <img src="{{ item.bild | default: "https://w3-mediapool.hm.edu/mediapool/media/dachmarke/dm_transfer/importueberarbeitet/personen_16/Silhouette_Neutral_ContactBild.png" }}" class="rounded" alt="Kontaktbild von {{ item.name }}">
                    </div>
                    <div class="col-lg-8 col-xl-9">
                      <span class="d-block lead mb-3">{{ item.name }}</span>
                      <span class="d-block">Raum: {{ item.raum }}</span>
                      <span class="d-block">Tel: {{ item.tel }}</span>
                      <span class="d-block">E-Mail: <a href="mailto:{{ item.email }}">{{ item.email }}</a></span>
                      {% if item.url != nil %}
                      <span class="d-block">Profil: <a href="{{ item.url }}" target="_blank">Profil aufrufen</a></span>
                      {% endif %}
                    </div>
                  </div>
                  <p class="mb-4">
                    {% if item.infos != nil %}
                    <span class="d-block">{{ item.infos }}</span>
                    {% endif %}
                    {% if item.zeiten != nil %}
                    <span class="d-block lead mt-2">Sprechzeiten</span>
                    {% if item.zeiten == "nine" %}
                    Sprechtzeiten über <a href="https://nine.hm.edu" target="_blank">NINE</a> buchen.
                    {% else %}
                    {% for item in item.zeiten %}
                    <span class="d-block">{{ item[0] | append: "&nbsp;" }}<span class="float-right">{{ item[1] | replace: " ", "&nbsp;" }}</span></span>
                    {% if item[2] != nil %}
                    <span class="d-block font-italic mb-2">{{ item[2] }}</span>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                  </p>
                  {% endfor %}
                </div>
                {% endif %}
                <div id="studienberatung" class="col-md-6">
                  <h3>Zentrale Studienberatung{{ site.badge_cms }}</h3>
                  <p class="">
                    <span class="d-block lead">Erstanlaufstelle</span>
                    <span class="d-block">STUDIENINFORMATION in der Lothstraße&nbsp;34</span>
                    <span class="d-block">Tel: 089 1265-1121</span>
                    <span class="d-block">E-Mail: <a href="mailto:beratung@hm.edu">beratung@hm.edu</a></span>
                    <span class="d-block mt-2"> <a href="https://online-studienberatung.hm.edu/" class="btn btn-outline-dark btn-block" role="button" target="_blank">Online-Studienberatung und Terminvereinbarung</a></span>

                    {% if site.studienberatung.telefonzeiten != nil %}
                    <span class="d-block lead mt-2">Telefonzeiten</span>
                    {% for item in site.studienberatung.telefonzeiten %}
                    <span class="d-block">{{ item[0] | append: "&nbsp;" }}<span class="float-right">{{ item[1] | replace: " ", "&nbsp;" }}</span></span>
                    {% if item[2] != nil %}
                    <span class="d-block font-italic mb-2">{{ item[2] }}</span>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if site.studienberatung.oeffungszeiten != nil %}
                    <span class="d-block lead mt-2">Öffnungszeiten</span>
                    {% for item in site.studienberatung.oeffungszeiten %}
                    <span class="d-block">{{ item[0] }}<span class="float-right">{{ item[1] | replace: " ", "&nbsp;" }}</span></span>
                    {% if item[2] != nil %}
                    <span class="d-block font-italic mb-2">{{ item[2] }}</span>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                  </p>
                </div>
                <div id="immatrikulation" class="col-md-6">
                  <h3>Immatrikulation{{ site.badge_cms }}</h3>
                  <p class="">
                    {% if page.abschluss == "Bachelor" %}
                    <span class="d-block lead">für Bachelor-Studiengänge</span>
                    <span class="d-block">Raum: {{ site.immatrikulation.bachlor.raum | join: " & " }}</span>
                    <span class="d-block">Tel: {{ site.immatrikulation.bachelor.phone | prepend: "089 1265-" | join: " & " }}</span>
                    <span class="d-block">E-Mail: <a href="mailto:{{ site.immatrikulation.bachelor.email }}">{{ site.immatrikulation.bachelor.email }}</a></span>
                    {% if site.immatrikulation.bachelor.oeffungszeiten != nil %}
                    <span class="d-block lead mt-2">Öffnungszeiten</span>
                    {% for item in site.immatrikulation.bachelor.oeffungszeiten %}
                    <span class="d-block">{{ item[0] | default: "&nbsp;" }}<span class="float-right">{{ item[1] | replace: " ", "&nbsp;" }}</span></span>
                    {% if item[2] != nil %}
                    <span class="d-block font-italic mb-2">{{ item[2] }}</span>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% elsif page.abschluss == "Master" %}
                    <span class="d-block lead">für Master-Studiengänge</span>
                    <span class="d-block">Raum: {{ site.immatrikulation.master.raum | join: " & " }}</span>
                    <span class="d-block">Tel: {{ site.immatrikulation.master.phone | join: " & "| prepend: "089 1265-"  }}</span>
                    <span class="d-block">E-Mail: <a href="mailto:{{ site.immatrikulation.master.email }}">{{ site.immatrikulation.master.email }}</a></span>
                    {% if site.immatrikulation.bachelor.oeffungszeiten != nil %}
                    <span class="d-block lead mt-2">Öffnungszeiten</span>
                    {% for item in site.immatrikulation.bachelor.oeffungszeiten %}
                    <span class="d-block">{{ item[0] | default: "&nbsp;" }}<span class="float-right">{{ item[1] | replace: " ", "&nbsp;" }}</span></span>
                    {% if item[2] != nil %}
                    <span class="d-block font-italic mb-2">{{ item[2] }}</span>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                  </p>
                </div>
                <div id="pruefungsamt" class="col-md-6">
                  <h3>Prüfung und Praktikum{{ site.badge_cms }}</h3>
                  <p class="">
                    Sie studieren den Studiengang {{ page.fachrich | upcase }} ({{ page.grade_kurz | upcase }}) schon und haben Fragen zu Prüfungen oder Praktikum? Dann nutzen Sie bitte die Seite <a href="https://www.hm.edu/pruefung-praktikum"
                      target="_blank">www.hm.edu/pruefung-praktikum</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="heading_weitere_info">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_weitere_info" aria-expanded="false" aria-controls="collapse_weitere_info">
                Weiterführende Informationen{{ site.badge_cms }}
              </button>
            </h2>
          </div>
          <div id="collapse_weitere_info" class="collapse" aria-labelledby="heading_weitere_info" data-parent="#accordion_stg_informationen">
            <div class="card-body">
              {% if page.url_stg != nil %}
              <p><a href="{{ page.url_stg }}" target="_blank">Informationen zum Studiengang auf den Seiten der Fakultät</a></p>
              {% endif %}
              {% if page.url_modulhandbuch != nil %}
              <p><a href="{{ page.url_modulhandbuch }}" target="_blank">Modulhandbuch</a></p>
              {% endif %}
              {% if page.url_studienplan != nil %}
              <p><a href="{{ page.url_modulhandbuch }}" target="_blank">Studienplan</a></p>
              {% endif %}
              {% if page.url_spo != nil %}
              <p><a href="{{ page.url_spo }}" target="_blank">Studien- und Prüfungsordnung</a></p>
              {% endif %}
              {% if page.url_satzung != nil %}
              <p><a href="{{ page.url_satzung }}" target="_blank">Satzung</a></p>
              {% endif %}
              {% if page.url_gebuehrenordnung != nil %}
              <p><a href="{{ page.url_gebuehrenordnung }}" target="_blank">Gebührenordnung</a></p>
              {% endif %}
            </div>
          </div>
        </div>
        {% if page.youtube-id != nil or page.vimeo-id != nil %}
        <div class="card d-print-none">
          <div class="card-header" id="heading_video">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_video" aria-expanded="false" aria-controls="collapse_video">
                Videos zum und über den Studiengang{{ site.badge_cms }}
              </button>
            </h2>
          </div>
          <div id="collapse_video" class="collapse" aria-labelledby="heading_video" data-parent="#accordion_stg_informationen">
            <div class="card-body row">
              {% if page.youtube-id != nil %}
              {% for youtube-id in page.youtube-id %}
              <div class="embed-responsive embed-responsive-16by9 rounded mb-2 col-md-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ youtube-id }}?rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              {% endfor %}
              {% endif %}
              {% if page.vimeo-id != nil %}
              {% for vimeo-id in page.vimeo-id %}
              <div class="embed-responsive embed-responsive-16by9 rounded mb-2 col-md-6">
                <iframe src="https://player.vimeo.com/video/{{ vimeo-id }}?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="text-center my-5 d-print-none">
        <div class="text-muted mb-2 font-italic"><small>Testdatum: Bewerbung bis {% if page.bewerbung_bis == nil %}<u>kein Datum festgelegt</u> {% else %}<form><input type="date" class="form-control-sm col-2" id="formBewerbungBis" value="{{ page.bewerbung_bis | date:"%Y-%m-%d"}}" onChange="checkDates();"></form>{% endif %}</small></div>
        <div id="bewerbenCallTo"></div>
        <!-- <hr>
        <p>Die neue Bewerbungsphaste startet am {{ "15.11.2020" | date: "%e. %B" }} {{ "now" | date: "%Y" }}</p>
        <p>Die neue Bewerbungsphaste startet am {{ "2.5.2020" | date: "%e. %B %Y" }}</p>
        <p>Bewerbung bis {{ page.bewerbung_bis | date: "%e. %B %Y" }} möglich.</p>
        {% if page.dosv == true %}
        {% endif %}
        <a class="btn btn-s uccess btn-outline-success btn-block btn-lg" href="https://www.hm.edu/{% if page.stg_kurz_abschluss_kurz contains "-B" %}bachelor-bewerbung/{% elsif page.stg_kurz_abschluss_kurz contains "-M" %}master-bewerbung/{% else %}bewerbung/{% endif %}" role="button" target="_blank">Jetzt für {{ page.fachrich | upcase }} ({{ page.grade_kurz | upcase }}) bewerben</a>
        <a class="btn btn-s uccess btn-outline-success btn-block btn-lg" href="https://www.hm.edu/{% if page.stg_kurz_abschluss_kurz contains "-B" %}bachelor-bewerbung/{% elsif page.stg_kurz_abschluss_kurz contains "-M" %}master-bewerbung/{% else %}bewerbung/{% endif %}" role="button" target="_blank">Informationen zur Bewerbung</a>
      </div> -->

        <p class="text-center d-print-none mt-5"><a href="#" class="btn btn-link btn-sm showbadges" style="cursor: pointer;">Datenherkunft anzeigen</a> <a href="#" class="btn btn-link btn-sm hidebadges"
            style="cursor: pointer; display: none;">Datenherkunft
            verstecken</a>
          <!-- Beispiel für alle öffnen und schließen: https://www.bootply.com/peFUdnwOpZ# -->
        </p>

      </div>
  </main>
  {% include footer.html %}
</body>

</html>
